.card-blog {
  margin: 0px 0px 30px 0px
}

.card-body-blog {
  background-color: rgba(237, 245, 247, 1);
}
.card-title-blog {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 250px;
}
.card-title-content {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 250px;
}
.card img {
  height: 200px;
  width: 250px;
  transition: transform .5s ease;
}
.card img:hover{
  background-color: black;
  transform: scale(1.1);
}

.ant-alert {
  background-color: rgba(30, 44, 48, 1);
  border-color: rgba(30, 44, 48, 1);
  border-radius: 0px;
  width: 100%;
  height: 300px;
  font-size: 50px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.ant-alert .ant-alert-description {
  color: white;
  text-align: center;
  margin-top: 60px;
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.3);
}
@media  screen and (min-width: 1024px) {
  .ant-pagination {
    padding-bottom: 50px;
    margin-left: 500px;
  }
}

@media  screen and ( max-width: 900px){
  .ant-pagination{
    padding-left: 60px 
  };
}