.registration-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background-color: #f2f2f2;
}

form {
  width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form h2 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.input-box {
  width: 100%;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  &:focus {
    border-color: #0077b6;
    box-shadow: 0 0 5px rgba(0, 119, 182, 0.5);
  }
}

.input-box p {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #0077b6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #005b8f;
  }
}

@media (max-width: 767px) {
  .registration-form {
    position: relative;
    padding: 0px;
    background-color: #f2f2f2;
  }
  form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
}