.card-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-title-product {
  align-self: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding: 3px;
  margin-top: 20px;
  margin-bottom: 0;
}

.card-product img {
  max-width: 100%;
  width: 300px;
  height: 280px;
}

.card-body-product {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  
}
.description-product {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding: 3px;
  margin-bottom: 0px;
}

.card-price {
  align-self: flex-start;
  font-weight: bold;
  padding: 3px;
  margin-top: 0px;
}
.product-bottom{
  margin-bottom: 50px;
}
